[submodule "pack/plugins/start/LanguageClient-neovim"]
	path = pack/plugins/start/LanguageClient-neovim
	url = https://github.com/autozimu/LanguageClient-neovim
[submodule "pack/plugins/start/rust.vim"]
	path = pack/plugins/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "pack/plugins/start/notmuch-vim"]
	path = pack/plugins/start/notmuch-vim
	url = https://github.com/felipec/notmuch-vim
